@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: #3c78d8;
    margin-top: 10px;
    font-size: 3.5em;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h2 {
    color: #3c78d8;
    font-size: 2.5em;
    margin-bottom: 0.4em;
}
h3 {
    color: #3c78d8;
    margin-top: 5px;
    margin-bottom: 0.4em;
    font-size: 2em;
}
h4 {
    color: #3c78d8;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0.4em;
}
h5 {
    color: #3c78d8;
    font-size: 1.2em;
    margin-top: 0.6em;
    margin-bottom: 0;
}
.nav {
    margin-right: 15px;
    width: 23em;
    position: fixed;
    padding-right: 10px;
    border-bottom: solid;
    border-right: solid;
    border-top: solid;
    border-width: thin;
    background-color: aliceblue;
}
.nav h2 {
    font-size: 2em;
    color: black;
    margin-left: 5px;
}
.nav h3 {
    font-size: 1.5em;
    margin-bottom: 0.4em;
    color: black;
}
.new {
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    background-color: #1ec29a;
    display: inline-block;
    max-width: 70em;
    padding: 0.8em;
}
.titre-new p:not(#jeuxDispo) {
    width: 5em;
    margin-top: -29px;
    padding-left: 4px;
    padding-right: 3px;
    border-style: solid;
    background-color: #1ec29a;
    border-color: black;
    text-align: center;
}
.contenu-new h3 {
    margin-top: -15px;
    color: white !important;
    line-height: 80px;
}
.contenu-new h2 {
    margin-top: -15px;
    color: darkblue !important;
}
.contenu-new h4 {
    margin-bottom: 10px;
    color: darkblue !important;
}
.contenu-new img:not(.inline) {
    display: inline;
    line-height: 65px;
}
.contenu-new p:not(.titre-new) {
    margin-bottom: 10px;
    color: white;
    font-weight: 100;
}
.content h3 {
    color: #3c78d8;
    margin-top: 0.3em;
    font-size: 2.5em;
    line-height: 65px;
}
.content {
    margin-top: 35px;
    border-top-style: solid;
}
.center {
    text-align: center;
}
.small {
    font-size: 12;
    color: cornflowerblue;
}
.note {
    padding: 5px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    margin-bottom: 10px;
}
.titre-note p:not(#jeuxDispo) {
    width: 3em;
    margin-top: -23px;
    margin-bottom: 0;
    border-style: solid;
    border-color: black;
    background: white;
    text-align: center;
    font-weight: bold;
}
.contenu-note p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-style: italic;
}
.centered {
    margin-left: auto;
    margin-right: auto;
}
.inline {
    display: inline;
    margin-left: 4px;
    margin-right: 2px;
}
h3 img {
    float: left;
    line-height: 65px;
    margin-right: 5px;
}
#general {
    padding: 10em;
}
#text {
    width: calc(100% - 25em);
    max-width: 1400px;
    margin-left: 25em;
    padding-bottom: 35px;
}
#text h2 {
    margin-left: 15px;
    margin-top: 15px;
}
body {
    margin: 0 auto;
}
p {
    font-size: 1.1em;
    color: #1d4b95;
    margin-top: 0.2em;
}
.explicationContenu li {
    font-size: 1.1em;
    color: #1d4b95;
    margin-bottom: -2px;
    margin-top: -2px;
}
.explicationContenu ul {
    margin-bottom: 0;
}
#jeuxDispo div {
    background-color: lightgray;
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-style: italic;
    margin: 15px;
    border-style: solid;
    border-width: thin;
    border-color: black;
}
#jeuxDispo p {
    margin-bottom: 0;
}




#footer {
    width: 100%;
    margin-top: 15px;
    border-top-style:groove;
}

.left {
    position: absolute;
    float: left;
}

.right {
    float: right;
}
