h1 {
    color: #3c78d8;
    margin-top: 10px;
    font-size: 3.5em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h2 {
    color: #3c78d8;
    margin-top: 6px;
    font-size: 2.5em;
    margin-bottom: 0.4em;
}

h3 {
    color: #3c78d8;
    margin-top: 5px;
    margin-bottom: 0.4em;
    font-size: 2em;
}

h4 {
    color: #3c78d8;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0.8em;
}

h5 {
    color: #3c78d8;
    font-size: 1.2em;
    margin-top: 0.6em;
    margin-bottom: 0;
}

.nav {
    margin-right: 15px;
    width: 23em;
    position: fixed;
    padding-right: 10px;
    border-bottom: solid;
    border-right: solid;
    border-top: solid;
    border-width: thin;
    background-color: aliceblue;
}

.nav h2{
    font-size: 2em;
    color: black;
    margin-left: 5px;
}
.nav h3 {
    font-size: 1.5em;
    margin-bottom: 0.4em;
    color: black;
}

.new {
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    border-style: solid;
    border-color: #1ec29a;
    padding: 0.8em;
}

.titre-new p {
    width: 5em;
    margin-top: -29px;
    padding-left: 4px;
    padding-right: 3px;
    border-style: solid;
    border-color: #1ec29a;
    background: white;
    text-align: center;
}

.contenu-new h3 {
    margin-top: -15px;
}

.contenu-new p {
    margin: -10px 0px 0px 0px;
}

.contenu-new h4{
    margin-bottom: 10px;
}

.contenu-new img {
    margin-top: 10px;
}

#text h3 {
    color: #3c78d8;
    margin-top: 0.4em;
    margin-bottom: 0.7em;
    font-size: 2.5em;
}


.center {
    text-align: center;
}

.small {
    font-size: 12;
    color: cornflowerblue;
}

.note {
    padding: 5px;
    border-style: solid;
    border-color: black;
}

.titre-note p {
    width: 3em;
    margin-top: -23px;
    margin-bottom: 0;
    border-style: solid;
    border-color: black;
    background: white;
    text-align: center;
}

.contenu-note p {
    padding: 0;
    margin: 0;
    margin-left: 15px;
    font-style: italic;
    font-weight: bold;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.inline {
    display: inline;
    margin-left: 4px;
    margin-right: 2px;
}

#text h3 .inline {
    float: left;
    margin-right: 5px;
}

#general {
    padding: 10em;
}

body {
    margin: 0 auto;
}


#text {
    width: calc(100% - 25em);
    max-width: 1400px;
    margin-left: 25em;
}

p {
    font-size: 1.1em;
    color: #1d4b95;
    margin-top: 0.2em;
}